<a href="https://colab.research.google.com/github/Avinash730/sp/blob/main/TITANIC_CLASSIFICATION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [175]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [176]:
train=pd.read_csv("/content/train.csv")

In [177]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [178]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [179]:
train.shape

(891, 12)

In [180]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [181]:
train.drop(['Name','Ticket','Fare'],axis=1,inplace=True)

In [182]:
train.replace('-','nan')
train.replace('na','nan')

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch Cabin Embarked
0              1         0       3    male  22.0      1      0   NaN        S
1              2         1       1  female  38.0      1      0   C85        C
2              3         1       3  female  26.0      0      0   NaN        S
3              4         1       1  female  35.0      1      0  C123        S
4              5         0       3    male  35.0      0      0   NaN        S
..           ...       ...     ...     ...   ...    ...    ...   ...      ...
886          887         0       2    male  27.0      0      0   NaN        S
887          888         1       1  female  19.0      0      0   B42        S
888          889         0       3  female   NaN      1      2   NaN        S
889          890         1       1    male  26.0      0      0  C148        C
890          891         0       3    male  32.0      0      0   NaN        Q

[891 rows x 9 columns]

In [183]:
train['Age'].mean()

29.69911764705882

In [184]:
train.describe()

       PassengerId    Survived      Pclass         Age       SibSp       Parch
count   891.000000  891.000000  891.000000  714.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008    0.381594
std     257.353842    0.486592    0.836071   14.526497    1.102743    0.806057
min       1.000000    0.000000    1.000000    0.420000    0.000000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000    0.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000    6.000000

In [185]:
train['Age'].fillna(train['Age'].mean(),inplace=True)

In [186]:
train['Embarked'].fillna(train['Embarked'].mode()[0],inplace=True)

In [187]:
train.drop(['Cabin'],axis=1,inplace=True)

In [188]:
train.skew()

<ipython-input-188-1d3a3c99b9d6>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.skew()

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          3.695352
Parch          2.749117
dtype: float64

In [189]:
q1=train['SibSp'].quantile(0.25)
q2=train['SibSp'].quantile(0.75)
q1

0.0

In [190]:
q2

1.0

In [191]:
train['SibSp']=np.where(train['SibSp']<q1,q1,train['SibSp'])
train['SibSp']=np.where(train['SibSp']>q2,q2,train['SibSp'])
train.skew()

<ipython-input-191-b18c2b9717de>:3: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  train.skew()

PassengerId    0.000000
Survived       0.478523
Pclass        -0.630548
Age            0.434488
SibSp          0.784821
Parch          2.749117
dtype: float64

In [192]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
train['Sex']= label_encoder.fit_transform(train['Sex'])

In [193]:
train['Sex']

0      1
1      0
2      0
3      0
4      1
      ..
886    1
887    0
888    0
889    1
890    1
Name: Sex, Length: 891, dtype: int64

In [194]:
train.drop(['Embarked'],axis=1,inplace=True)
train.head()

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch
0            1         0       3    1  22.0    1.0      0
1            2         1       1    0  38.0    1.0      0
2            3         1       3    0  26.0    0.0      0
3            4         1       1    0  35.0    1.0      0
4            5         0       3    1  35.0    0.0      0

In [195]:
train.corr()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch
PassengerId,1.000000,-0.005007,-0.035144,0.042939,0.033207,-0.053397,-0.001652
Survived,-0.005007,1.000000,-0.338481,-0.543351,-0.069809,0.115867,0.081629
Pclass,-0.035144,-0.338481,1.000000,0.131900,-0.331339,-0.076009,0.018443
Sex,0.042939,-0.543351,0.131900,1.000000,0.084153,-0.203203,-0.245489
Age,0.033207,-0.069809,-0.331339,0.084153,1.000000,-0.148409,-0.179191
SibSp,-0.053397,0.115867,-0.076009,-0.203203,-0.148409,1.000000,0.356133
Parch,-0.001652,0.081629,0.018443,-0.245489,-0.179191,0.356133,1.000000

In [196]:
x_train=train.iloc[:,2:]
y_train=train.Survived

In [197]:
x_train

     Pclass  Sex        Age  SibSp  Parch
0         3    1  22.000000    1.0      0
1         1    0  38.000000    1.0      0
2         3    0  26.000000    0.0      0
3         1    0  35.000000    1.0      0
4         3    1  35.000000    0.0      0
..      ...  ...        ...    ...    ...
886       2    1  27.000000    0.0      0
887       1    0  19.000000    0.0      0
888       3    0  29.699118    1.0      2
889       1    1  26.000000    0.0      0
890       3    1  32.000000    0.0      0

[891 rows x 5 columns]

In [198]:
y_train

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [199]:
test=pd.read_csv("/content/test.csv")

In [200]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [201]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [202]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [203]:
test.drop(['Name','Ticket','Fare'],axis=1,inplace=True)

In [204]:
test.replace('-','nan')
test.replace('na','nan')

     PassengerId  Pclass     Sex   Age  SibSp  Parch Cabin Embarked
0            892       3    male  34.5      0      0   NaN        Q
1            893       3  female  47.0      1      0   NaN        S
2            894       2    male  62.0      0      0   NaN        Q
3            895       3    male  27.0      0      0   NaN        S
4            896       3  female  22.0      1      1   NaN        S
..           ...     ...     ...   ...    ...    ...   ...      ...
413         1305       3    male   NaN      0      0   NaN        S
414         1306       1  female  39.0      0      0  C105        C
415         1307       3    male  38.5      0      0   NaN        S
416         1308       3    male   NaN      0      0   NaN        S
417         1309       3    male   NaN      1      1   NaN        C

[418 rows x 8 columns]

In [205]:
test['Age'].fillna(test['Age'].mean(),inplace=True)

In [206]:
test['Embarked'].fillna(test['Embarked'].mode()[0],inplace=True)

In [207]:
test.drop(['Cabin'],axis=1,inplace=True)

In [208]:
test.skew()

<ipython-input-208-a57c8b9f9d04>:1: FutureWarning: The default value of numeric_only in DataFrame.skew is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  test.skew()

PassengerId    0.000000
Pclass        -0.534170
Age            0.512711
SibSp          4.168337
Parch          4.654462
dtype: float64

In [209]:
test.describe()

       PassengerId      Pclass         Age       SibSp       Parch
count   418.000000  418.000000  418.000000  418.000000  418.000000
mean   1100.500000    2.265550   30.272590    0.447368    0.392344
std     120.810458    0.841838   12.634534    0.896760    0.981429
min     892.000000    1.000000    0.170000    0.000000    0.000000
25%     996.250000    1.000000   23.000000    0.000000    0.000000
50%    1100.500000    3.000000   30.272590    0.000000    0.000000
75%    1204.750000    3.000000   35.750000    1.000000    0.000000
max    1309.000000    3.000000   76.000000    8.000000    9.000000

In [210]:
q1=test['SibSp'].quantile(0.25)
q2=test['SibSp'].quantile(0.75)
q1

0.0

In [211]:
q2

1.0

In [212]:
test['Parch']=np.sqrt(test['Parch'])
test['Parch'].skew()

1.8791559278126866

In [213]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
test['Sex']= label_encoder.fit_transform(test['Sex'])

In [214]:
test['Sex']

0      1
1      0
2      1
3      1
4      0
      ..
413    1
414    0
415    1
416    1
417    1
Name: Sex, Length: 418, dtype: int64

In [215]:
dummies1=pd.get_dummies(test['Embarked'])
dummies1.head()

   C  Q  S
0  0  1  0
1  0  0  1
2  0  1  0
3  0  0  1
4  0  0  1

In [216]:
test=pd.concat([test,dummies1],axis='columns')
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch Embarked  C  Q  S
0          892       3    1  34.5      0    0.0        Q  0  1  0
1          893       3    0  47.0      1    0.0        S  0  0  1
2          894       2    1  62.0      0    0.0        Q  0  1  0
3          895       3    1  27.0      0    0.0        S  0  0  1
4          896       3    0  22.0      1    1.0        S  0  0  1

In [217]:
test.drop(['Embarked'],axis=1,inplace=True)
test.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch  C  Q  S
0          892       3    1  34.5      0    0.0  0  1  0
1          893       3    0  47.0      1    0.0  0  0  1
2          894       2    1  62.0      0    0.0  0  1  0
3          895       3    1  27.0      0    0.0  0  0  1
4          896       3    0  22.0      1    1.0  0  0  1

In [218]:
test.corr()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,C,Q,S
PassengerId,1.000000,-0.026751,0.023245,-0.030874,0.003818,0.048247,-0.027419,-0.035731,0.048008
Pclass,-0.026751,1.000000,0.108615,-0.440782,0.001087,-0.021851,-0.318543,0.252608,0.120783
Sex,0.023245,0.108615,1.000000,0.000011,-0.099943,-0.210501,-0.033684,-0.115574,0.105883
Age,-0.030874,-0.440782,0.000011,1.000000,-0.079535,-0.102107,0.161612,-0.012719,-0.136822
SibSp,0.003818,0.001087,-0.099943,-0.079535,1.000000,0.386543,-0.016365,-0.098824,0.079367
Parch,0.048247,-0.021851,-0.210501,-0.102107,0.386543,1.000000,0.040100,-0.164888,0.071887
C,-0.027419,-0.318543,-0.033684,0.161612,-0.016365,0.040100,1.000000,-0.199786,-0.767375
Q,-0.035731,0.252608,-0.115574,-0.012719,-0.098824,-0.164888,-0.199786,1.000000,-0.474962
S,0.048008,0.120783,0.105883,-0.136822,0.079367,0.071887,-0.767375,-0.474962,1.000000

In [219]:
y_train=train.Survived
X_train=train.drop(['Survived'],axis=1)

In [220]:
from sklearn.model_selection import train_test_split
X_test,X_train,y_test,y_train=train_test_split(X_train,y_train,train_size=0.7,test_size=0.2)

In [221]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [222]:
model.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [223]:
y_pred=model.predict(X_test)

In [224]:
y_pred

array([0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 1])

In [225]:
y_pred.shape

(623,)

In [226]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((179, 6), (623, 6), (179,), (623,))

In [227]:
data=pd.DataFrame(y_pred,columns=['Survived'])

In [228]:
data

     Survived
0           0
1           1
2           0
3           1
4           0
..        ...
618         1
619         0
620         0
621         0
622         1

[623 rows x 1 columns]

In [229]:
data1=pd.DataFrame(test.PassengerId)

In [230]:
data1

     PassengerId
0            892
1            893
2            894
3            895
4            896
..           ...
413         1305
414         1306
415         1307
416         1308
417         1309

[418 rows x 1 columns]

In [231]:
result=pd.concat([data1,data],axis=1)
result

     PassengerId  Survived
0          892.0         0
1          893.0         1
2          894.0         0
3          895.0         1
4          896.0         0
..           ...       ...
618          NaN         1
619          NaN         0
620          NaN         0
621          NaN         0
622          NaN         1

[623 rows x 2 columns]

In [232]:
result.to_csv('kaggle_titanic.csv',index=False)